<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997688084433-glj1htthi67fle1ss6qpses87n34irt4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997688084433-glj1htthi67fle1ss6qpses87n34irt4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>997688084433-68vpacji0bgspbq2dtlhcpaahoplas6h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwRrx1YcAXdmHsIQNMjuq7FHlC-AUG9RU</string>
	<key>GCM_SENDER_ID</key>
	<string>997688084433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.patient_inform</string>
	<key>PROJECT_ID</key>
	<string>patient-inform</string>
	<key>STORAGE_BUCKET</key>
	<string>patient-inform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997688084433:ios:69170e94547c9c782182f0</string>
</dict>
</plist>